body {
    background-image: url("background.jpg");
    color: #000000;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

nav {
    padding: 20px;
    background-color: #ffbb00;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(7, 3, 255, 0.727);

}

main {
    text-align: center;
    margin-top: 50px;
}

.score {
    margin-bottom: 15px;
}

.start {
    margin-bottom: 10px;
}

#btn {
    font-size: 50px;
    border-radius: 8px;
    background-color: rgba(13, 31, 227, 0.639);
    color: white;
    border: 2px solid rgb(0, 19, 128);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition-duration: 0.4s;
}

#btn:hover {
    background-color: #ffbb00; 
    color: white;
}

#btn01, #btn02, #btn03, #btn04{
    font-size: 30px;
    border-radius: 8px;
    background-color: rgba(200, 9, 243, 0.743);
    color: white;
    box-shadow:0 4px 8px rgba(0,0,0,0.2);
    transition-duration: 0.4s;
}

#btn01:hover, #btn02:hover, #btn03:hover, #btn04:hover {
    background-color: #ffbb00; 
    color: white;
}

.quiz, .scores {
    margin-top: 30px;
}

.timer, .score {
    font-size: large;
    color: white;
    text-decoration: underline;
    background-color: #c209fbdb;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(7, 3, 255, 0.727);
    max-width: fit-content;
    display:inline;

}

.questions {
    font-size: 50px;
    margin-bottom: 20px;
    background-color: #00bfffb6;
    color: white;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(255, 188, 3, 0.727);
}


.options {
    background-color: #09b3fb01;
    color: #000;
    padding: 10px 20 px;
    font-size: 18px;
    margin: 5px;
    border-radius: 4px;
    max-width: fit-content;
}

.h2 {
    color: white;
    text-decoration: underline;
    background-color: rgba(13, 31, 227, 0.639);
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(7, 3, 255, 0.727);
    max-width: fit-content;
    margin-top: 200px;
}

.form {
    text-align: center;
    background-color: #ffbb00;
    color: #000;
    padding: 10px 80px;
    font-size: 18px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(7, 3, 255, 0.727);
}

#subscore, #goAgain, #clearHistory {
    border-radius: 8px;
    background-color: rgba(13, 31, 227, 0.849);
    color: white;
    border: 2px solid rgb(0, 19, 128);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition-duration: 0.4s;
}

#subscore:hover, #goAgain:hover, #clearHistory:hover {
    background-color: #00ff5e; 
    color: teal;
}