body {
    background-image: url("background.jpg");
    color: #000000;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

nav {
    padding: 20px;
    background-color: #ffbb00;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(7, 3, 255, 0.727);

}

main {
    text-align: center;
    margin-top: 50px;
}

.score {
    margin-bottom: 15px;
}

.start {
    margin-bottom: 10px;
}

.quiz, .scores {
    margin-top: 30px;
}

.timer, .score {
    font-size: large;
    color: rgba(32, 255, 3, 0.727);
    text-decoration: underline;
    background-color: teal;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(7, 3, 255, 0.727);
    max-width: fit-content;
    
    
}

.questions {
    font-size: 24px;
    margin-bottom: 20px;
    background-color: teal;
    color: #000;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(7, 3, 255, 0.727);
}


.options {
    background-color: #09b3fb01;
    color: #000;
    padding: 10px 20 px;
    font-size: 18px;
    margin: 5px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgb(37, 3, 255);
    max-width: fit-content;
}

.h2 {
    color: rgba(32, 255, 3, 0.727);
    text-decoration: underline;
    background-color: teal;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(7, 3, 255, 0.727);
    max-width: fit-content;
}

.form {
    background-color: #ffbb00;
    color: #000;
    padding: 10px 80px;
    font-size: 18px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(7, 3, 255, 0.727);
}
